<!DOCTYPE html>
<html>
	<head>
		<title>Form</title>
	</head>
	<body>

		<form method="POST" action="?_method=post"><input type="submit" value="POST"></form><br/>

		<form method="POST" action="?_method=put"><input type="submit" value="PUT"></form><br/>

		<form method="POST" action="?_method=delete"><input type="submit" value="DELETE"></form>

	</body>
</html>
