<!DOCTYPE html>
<html>
	<head>
		<title>Form</title>
	</head>
	<body>

		<h3>SELECT * FROM users</h3>

		<table border="1" cellpadding="5">
			<thead>
				<tr style="background-color: yellow"><th>First name</th><th>Last name</th><th>Description</th><tr>
			</thead>
			<tbody>
			<% for(var i=0; i < items.length; i++) {%>
				<tr><td><%= items[i].firstname %></td><td><%= items[i].lastname %></td><td><%= items[i].description %></td><tr>
			<% } %>
			</tbody>
		</table>

	</body>
</html>
